build/
build-*/
bin-int/
bin/Release-linux-x86_64/Sandbox/
bin/Release-windows-x86_64/Sandbox/
bin/Release-linux-x86_64/IPChanger/
bin/Release-windows-x86_64/IPChanger/


CMakeLists.txt.user
*.user
.*/
*.pdb
*.filters
*.sln
*.vcxproj